.guess-input {
  width: 100px;
  height: 30px;
  font-size: 20px;
  font-family: sans-serif;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;

  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out; 
}

